/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
  }
  .button:active {
    transform: scale(0.96);
  }
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
/* Dropdown button */
/* Dropdown button */
/* Dropdown button */
 

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Dropdown button icon */
.dropbtn i {
  color: #3498db;
  font-size: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: inline;
}
.rating {
  display: flex;
  justify-content: right;
  margin-right: 0px;
  /* margin-top: 20px; */
  font-size: 30px;
 
  /* background-color: #323334; */
}

.star {
  cursor: pointer;
  /* margin-right: 5px; */
  color: rgb(5, 5, 5); /* Change color as needed */
  font-size: 30px;
}
.star.rated {
  color: orange; /* Change color as needed */
}

.container {
  position: relative;
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}
.container .search-box {
  position: relative;
  height: 50px;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: #323334;
  padding: 0 15px 0 45px;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
}
.search-box i {
  position: absolute;
  z-index: 2;
  color: #999;
  top: 50%;
  left: 15px;
  font-size: 22px;
  transform: translateY(-50%);
}
.container .images .image-box {
  position: relative;
  height: 350px;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
}
.images {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.images .image-box {
  margin: 12px;
}
.images .image-box img {
  height: 75%;
  width: 100%;
  border-radius: 6px;
  transition: transform 0.2s linear;
}
.image-box:hover img {
  transform: scale(1.05);
}
.image-box h6 {
  position: absolute;
  bottom: 10px;
  /* margin-top: 5px; */
  left: 10px;
  color: #181616;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.image-box span {
  display: inline-block;
  background: #844c4c;
  margin-top: 40px;
  padding: 8px 15px;
  font-size: 0.85rem;
  border-radius: 50px;
  font-weight: 600;
  z-index: 9999;
}

.image-box .developer {
  background-color: #F7DFF5; 
  color: #B22485;
  z-index: 9999;
}   


.image-box .editor {
  background-color: #c8e0c9; 
  color: #32b224;
  z-index: 9999;
}  

